<!doctype HTML>
<html ng-app>
<head>
	<title>TodoAir</title>
	<script type="text/javascript" src="static/js/angular.js"></script>
	<script type="text/javascript" src="static/js/todoair.js"></script>
</head>
<body>

	<!-- Header -->
	<header>
		<h1>todoair</h1>
	</header>

	<!--Main section -->
	<main ng-controller="MainController">

		<!--Input section-->
		<section>
			Insert todos
			<form ng-submit="add()">
				<input type="text"  ng-model="todoInput" required>
				<input type="time"  ng-model="timeInput">
				<input type="submit">
			</form>
			
			
		</section>

		<!--search section-->
		<section>
			<input type="text" ng-model="search" placeholder="search in todos">
		</section>

		<!--list section-->
		<section>
			<ul>
				<li ng-repeat="item in list | filter:search">
					<input type="checkbox" ng-model="item.done">
					{{item.todo}} @ {{item.time}}
					<button ng-click="remove($index)">remove</button>
				</li>
			</ul>
		</section>

		

	</main>

</body>
</html>