<!doctype HTML>
<html ng-app="todoair">
<head>
	<title>Todo Air</title>

	<!--jQuery-->
	<script type="text/javascript" src="static/js/jquery-2.1.0.js"></script>

	<!--foundation-->
	<link rel="stylesheet" type="text/css" href="static/css/foundation.css">
	<script type="text/javascript" src="static/js/foundation.min.js"></script>

	<!--angularJS-->
	<script type="text/javascript" src="static/js/angular.js"></script>
	<script type="text/javascript" src="static/js/angularui/sortable.js"></script>

	<!--custom-->
	<link rel="stylesheet" type="text/css" href="static/css/todoair.css">
	<script type="text/javascript" src="static/assets/todoair.js"></script>

</head>
<body>

	<!-- Header -->
	<header class="row centerdText">
		<h1 class="large-12 large-centered medium-12 medium-centered small-12 small-centered column"><b>Todo Air</b></h1>
	</header>

	<!--Main section -->
	<main ng-controller="MainController" >



		<!--Cat section-->
		<section class="row">

		<form ng-submit="addCat()">
			<fieldset class="large-7 medium-7 large-centered medium-centered columns">
    			<legend id="todoInput">Create List</legend>
      				<input  type="text"  ng-model="catInput" required class="large-3 columns" placeholder="List Name">
					<input type="submit" value="add cat" class="tiny radius button centerdArea">

					
  			</fieldset>
		</form>



		</section>


		<!--Input section-->
		<section class="row">

		<!-- Todo Input section -->
		<form ng-submit="addTodo()">
			<fieldset class="large-7 medium-7 large-centered medium-centered columns">
    			<legend id="todoInput">Add todos</legend>
					<!--categories list-->
	    			<legend id="todoInput">category</legend>
	    			<select ng-model="catName" required>
			          <option  ng-repeat="cat in cats track by $index" value="{{cat.catID}}">{{cat.catName}}</option>
			        </select>

		        	<!--todo field-->
      				<input  type="text"  ng-model="todoInput" class="large-3 columns" placeholder="What do you want to do?" required>
      				<span id="todoOptions">
						<input type="text"  ng-model="timeInput" class="large-3 columns" placeholder="When?">

						<!--color options-->
						<input type="radio" ng-model="colorInput" name="colorInput" value="1" checked> Black
						<input type="radio" ng-model="colorInput" name="colorInput" value="2" > Blue 
						<input type="radio" ng-model="colorInput" name="colorInput" value="3"> Green 
						<input type="radio" ng-model="colorInput" name="colorInput" value="4"> Red <br>

						<input type="submit" value="add" class="tiny radius button centerdArea">
					</span>
  			</fieldset>
		</form>



		</section>



		<!--search section-->
		<section class="row">
				<fieldset class="large-7 medium-7 large-centered medium-centered columns">
					<legend>Search items</legend>
					<section>
						<input type="text" ng-model="search" placeholder="search in todos">
					</section>
				</fieldset>
		</section>
		

		<!--list section-->
		<section>

			<fieldset class="large-7 medium-7 large-centered medium-centered columns todoBack">
				<ul ui-sortable>
					<li contenteditable="true" ng-repeat="item in list track by $index | filter:search" class="items" draggable="true" >
						<input type="checkbox" ng-model="item.done">
						<span class="is-{{item.done}} color-{{item.color}}">{{item.todo}} <span class="at">@</span> {{item.time}}  in {{item.cat}}</span>
						<button ng-click="removeTodo($index)" class="tiny radius button centerdArea">X</button>
					</li>
				</ul>
			</fieldset>
		</section>
	</main>


</body>
</html>