@import url(http://fonts.googleapis.com/css?family=PT+Sans:400,700);

body {
	font-family: 'PT Sans', sans-serif;
	background-color: #edfdd9
}

.centerdText {
	text-align: center;
}

.centerdArea {
	align:center;
}

.items {
	text-decoration: none;
	font-size: 1.5em;
	list-style: none;
}

.at {
	font-size: 0.9em;
}

header>h1 {
	font-family: 'PT Sans', sans-serif;
	color: #404a51;
}

.todoBack {
	background-color: #fefef6;
}

.is-false{
	
}

.is-true{
	
	text-decoration: line-through;
}

.color-1 {
	background-color: #808181;
	color: #ecfafe;
}

.color-2 {
	background-color: #aaecff;
	color: #696a6b;
}

.color-3 {
	background-color: #d2fbaa;
	color: #6e6f6d;
}

.color-4 {
	background-color: #fca7b3;
	color: #2d2b2b;
}